In [1]:
#Import Dependencies & file paths

import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import string
billboard_csv = '../Resources/billboard_lyrics_1964-2015.csv'
song_list_csv = '../Resources/song_info.csv'
song_data_csv = '../Resources/song_data.csv'

C:\Users\mmede\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# Create dataframes from csv files - Billboard top 100 songs - 1964 through 2015

billboard_df = pd.read_csv(billboard_csv, encoding = 'ISO-8859-1')
billboard_df.head()

,Rank,Song,Artist,Year,Lyrics,Source
0,1,wooly bully,sam the sham and the pharaohs,1965,sam the sham miscellaneous wooly bully wooly b...,3.0
1,2,i cant help myself sugar pie honey bunch,four tops,1965,sugar pie honey bunch you know that i love yo...,1.0
2,3,i cant get no satisfaction,the rolling stones,1965,,1.0
3,4,you were on my mind,we five,1965,when i woke up this morning you were on my mi...,1.0
4,5,youve lost that lovin feelin,the righteous brothers,1965,you never close your eyes anymore when i kiss...,1.0

In [3]:
# Create dataframes from csv files - 19,000 Spotify songs with album

song_df = pd.read_csv(song_list_csv)
song_df.head()

,song_name,artist_name,album_names,playlist
0,Boulevard of Broken Dreams,Green Day,Greatest Hits: God's Favorite Band,00s Rock Anthems
1,In The End,Linkin Park,Hybrid Theory,00s Rock Anthems
2,Seven Nation Army,The White Stripes,Elephant,00s Rock Anthems
3,By The Way,Red Hot Chili Peppers,By The Way (Deluxe Version),00s Rock Anthems
4,How You Remind Me,Nickelback,Silver Side Up,00s Rock Anthems

In [4]:
# Create dataframes from csv files - 19,000 Spotify songs with data

spotify_data_df = pd.read_csv(song_data_csv, encoding = 'ISO-8859-1')
spotify_data_df.head()

,song_name,song_popularity,song_duration_ms,acousticness,danceability,energy,instrumentalness,key,liveness,loudness,audio_mode,speechiness,tempo,time_signature,audio_valence
0,Boulevard of Broken Dreams,73,262333,0.005520,0.496,0.682,0.000029,8,0.0589,-4.095,1,0.0294,167.060,4,0.474
1,In The End,66,216933,0.010300,0.542,0.853,0.000000,3,0.1080,-6.407,0,0.0498,105.256,4,0.370
2,Seven Nation Army,76,231733,0.008170,0.737,0.463,0.447000,0,0.2550,-7.828,1,0.0792,123.881,4,0.324
3,By The Way,74,216933,0.026400,0.451,0.970,0.003550,0,0.1020,-4.938,1,0.1070,122.444,4,0.198
4,How You Remind Me,56,223826,0.000954,0.447,0.766,0.000000,10,0.1130,-5.065,1,0.0313,172.011,4,0.574

In [5]:
# Add columns to both dataframes with lowercase song names for better matching

billboard_df['fuzzy_name'] = billboard_df['Song'].apply(lambda x: x.lower())
song_df['fuzzy_name'] = song_df['song_name'].apply(lambda x: x.lower())
billboard_df['fuzzy_artist'] = billboard_df['Artist'].apply(lambda x: x.lower())
song_df['fuzzy_artist'] = song_df['artist_name'].apply(lambda x: x.lower())

# Checks ->
# billboard_df.head()
# song_df.head()

In [6]:
# Remove punctuation from lowercase song names to help with better matching

trans_table = str.maketrans('','',string.punctuation)
billboard_df['fuzzy_name'] = billboard_df['fuzzy_name'].apply(lambda x: x.translate(trans_table))
song_df['fuzzy_name'] = song_df['fuzzy_name'].apply(lambda x: x.translate(trans_table))
billboard_df['fuzzy_artist'] = billboard_df['fuzzy_artist'].apply(lambda x: x.translate(trans_table))
song_df['fuzzy_artist'] = song_df['fuzzy_artist'].apply(lambda x: x.translate(trans_table))

# Checks ->
# billboard_df.head()
# song_df.head()

In [7]:
# Testing fuzzywuzzy on a small sample size to see how it works

query = billboard_df['fuzzy_name'][2]
choices = song_df['fuzzy_name']

# ExtractOne only yields top result

result = process.extractOne(query,choices)
result

('i cant get no satisfaction', 100, 251)

In [8]:
# Show top 5 matches for same song, to look at ratio scores

results = process.extract(query,choices)
results

[('i cant get no satisfaction', 100, 251),
 ('i can', 90, 3751),
 ('satisfaction', 90, 5709),
 ('i can', 90, 9356),
 ('cant stop', 86, 13)]

In [9]:
# Double check index provided by fuzzywuzzy to ensure data integrity

song_df.loc[251]

song_name            (I Can't Get No) Satisfaction
artist_name                     The Rolling Stones
album_names     Hot Rocks (1964-1971) [Remastered]
playlist                          60s Rock Anthems
fuzzy_name              i cant get no satisfaction
fuzzy_artist                    the rolling stones
Name: 251, dtype: object

In [10]:
#### REVERTED BACK TO ORIGINAL - OTHER METHOD WENT FUBAR - RAN LAST NIGHT AND DIDN"T WORK ######

# Loop through Billboard dataframe and fuzzy match to list of spotify songs

# Initalize lists to hold query songs as well as the fuzzy mathced songs

query_name = []
fuzzy_list = []

# Set up 'choices' parameter of fuzzywuzzy to tell the module what songs to look through to match our query

choices = song_df['fuzzy_name']

# For loop to loop through billboard songs and fuzzmatch to spotify list

for i in range(len(billboard_df)):
    
    query = billboard_df['fuzzy_name'][i]
    
    query_name.append(billboard_df['fuzzy_name'][i])
    
    # Simple ratio checks for the similarty of the two strings based on some crazy math shit
    if (process.extractOne(query,choices,scorer=fuzz.ratio)) == 100:
        fuzzy_list.append(process.extractOne(query,choices,scorer=fuzz.ratio))
        
    # Partial ration looks at the similarty of the strings from the beginning, ie "Every Time We Touch" = "Every Time"
    #elif fuzzy_list(process.extractOne(query,choices,scorer=fuzz.partial_ratio)) == 100:
        #fuzzy_list.append(process.extractOne(query,choices,scorer=fuzz.partial_ratio))
        
    # Token sort ratio gives 100 if every word is same, irrespective of the position ie Dog Butt = Butt Dog
    #elif fuzzy_list(process.extractOne(query,choices,scorer=fuzz.token_sort_ratio)) == 100:
        #fuzzy_list.append(process.extractOne(query,choices,scorer=fuzz.token_sort_ratio))
        
    # If no matches are perfect above, just take the closest it can find
    #else:
        #fuzzy_list.append(process.extractOne(query,choices,scorer=fuzz.ratio))

In [14]:
# Check results of same song as above to ensure similar result following the loop

fuzzy_list

[]

In [15]:
# Because fuzzy_list is a list of tuples, we need to iterate through the list to parse out the tuples into seperate lists

matched_name = []
ratio_value = []
song_index = []

for i in range(len(fuzzy_list)):
    
    matched_name.append(fuzzy_list[i][0])
    ratio_value.append(fuzzy_list[i][1])
    song_index.append(fuzzy_list[i][2])

In [16]:
# Create a seperate dictionary to hold all results

fuzzy_dict = {'Song_Name':query_name,
             'Matched_Name':matched_name,
             'Ratio_Value':ratio_value,
             'Song_List_Index':song_index}

# Create dataframe from dictionary 

fuzzy_df = pd.DataFrame(fuzzy_dict)

ValueError: arrays must all be same length

In [17]:
# Preview dataframe of resuls

fuzzy_df

NameError: name 'fuzzy_df' is not defined

In [ ]:
# Import MySQL dependencies

from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import psycopg2

In [ ]:
engine=psycopg2.connect(f'postgresql://postgres:postgres@localhost:5432')
engine.autocommit=True
cursor=engine.cursor()
sql='''Create database test'''
cursor.execute(sql)

In [ ]:
# Define our billboard, spotify_songs, spotify _song_data and fuzzy_key tables

class billboard(Base):
    __tablename__ = 'billboard'
    id = Column(Integer, primary_key=True)
    Rank=Column(Integer)
    Song=Column(String)
    Artist=Column(String)
    Lyrics=Column(String)
    Source=Column(String)
    
class spotify_songs(Base):
    __tablename__ = 'spotify_songs'
    id = Column(Integer, primary_key=True)
    song_name=Column(String)
    artist_name=Column(String)
    album_names=Column(String)
    playlist=Column(String) 
    
class spotify_song_data(Base):
    __tablename__ = 'spotify_song_data'
    id = Column(Integer, primary_key=True)
    song_name=Column(String)
    song_popularity=Column(String)
    song_duration_ms=Column(String)
    acousticness=Column(String) 
    danceability=Column(String)
    energy=Column(String)
    instrumentalness=Column(String)
    key=Column(String)
    liveness=Column(String)
    loudness=Column(String)
    audio_mode=Column(String)
    speechiness=Column(String)
    tempo=Column(String)
    time_signature=Column(String)
    audio_valence=Column(String)
    
    
class fuzzy_key(Base):
    __tablename__ = 'fuzzy_key'
    id = Column(Integer, primary_key=True)
    Song_Name=Column(String)
    Matched_Name=Column(String) 
    Ratio_Value=Column(Integer)    
    Song_List Index=Column(Integer)

In [ ]:
Base.metadata.tables

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
engine.table_names()

In [ ]:
# Import dataframes into SQL database

billboard_df.to_sql(name='billboard', con=engine, if_exists='append', index=False)
song_df.to_sql(name='spotify_songs, con=engine, if_exists='append', index=False)
spotify_data_df.to_sql(name='spotify_song_data', con=engine, if_exists='append', index=False)
fuzzy_df.to_sql(name='fuzzy_key', con=engine, if_exists='append', index=False)

In [ ]:
#  Example to check work -> pd.read_sql_query('select * from customer_name', con=engine).head()