In [1]:
# Module used to connect Python with MongoDb
import pymongo

In [2]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.ClassDB

In [4]:
# Query all students
# Here, db.students refers to the collection 'classroom '
classroom = db.students.find()

# Iterate through each student in the collection
for student in classroom:
    print(student)

TypeError: 'Collection' object is not iterable

In [ ]:
# Insert a document into the 'students' collection
db.classroom.insert_one(
    {
        'name': 'Ahmed',
        'row': 3,
        'favorite_python_library': 'Matplotlib',
        'hobbies': ['Running', 'Stargazing', 'Reading']
    }
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

In [ ]:
# Update a document
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$set':
        {'row': 4}
     }
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

In [ ]:
# Add an item to a document array
db.classroom.update_one(
    {'name': 'Ahmed'},
    {'$push':
        {'hobbies': 'Listening to country music'}
     }
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

In [ ]:
# Delete a field from a document
db.classroom.update_one({'name': 'Ahmed'},
                        {'$unset':
                         {'row': ""}
                         }
                        )

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)

In [ ]:

# Delete a document from a collection
db.classroom.delete_one(
    {'name': 'Ahmed'}
)

# query the classroom collection
classroom = db.classroom.find()

# see change in collection
for student in classroom:
    print(student)